<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<style type="text/css">
  
  table, tr, th, td {
    text-align: center;
    /*border-color: transparent;*/
   border-bottom:1px;
   border-bottom-style: solid;
    line-height: 250%;

    
    
  
}

table, td{
  border-bottom-color: gray;
}
.table-css{
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;

}


table, th{
  text-align: center;
    border-collapse: collapse;
    font-family: Arial;
}

.circle_red {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
    background-color: red;
    margin: auto;
    /*border-radius: transperant; */
  /* width and height can be anything, as long as they're equal */
}

.circle_green {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
    background-color: green;
    border-radius: transperant; 
    margin: auto;
  /* width and height can be anything, as long as they're equal */
}

.circle_yellow {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
    background-color: yellow;
    border-radius: transperant; 
    margin: auto;
  /* width and height can be anything, as long as they're equal */
}

.circle_blue {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
    background-color: blue;
    border-radius: transperant; 
    margin: auto;
  /* width and height can be anything, as long as they're equal */
}

</style>
<center> <h1 style="font-family: Arial;">Hazelton's | Canada - Orders </h1></center>

 <div class="table-css">
 
<table >
  
  <tbody >
    <tr style="border-bottom-style: solid;">

      <!-- <th >Select </th> -->
      <th style="width: 100px; margin-left:20px;">Order </th><th style=" padding: 20px;">Total </th><th style=" padding: 20px;">Tags</th> <th style="width: 100px; padding: 20px;">Fulfillment</th><th style="width: 100px; padding: 20px;">Fraud</th><th style="width: 100px; padding: 20px;">Paid</th><th style="width: 100px; padding: 20px;">Open</th></tr>

  <% @orders.each do |o| %>

   <tr> 

     <!-- <td> <input type="checkbox" name="vehicle" value="https://#{@shop_session.url}/admin/products/#{product.id}"> </td>  -->
     <td style="text-align: left; padding-left: 20px;"> <%= link_to o.order_number, "https://#{@shop_session.url}/admin/orders/#{o.id}", target: "_blank" %> </td>

          
     <td>$ <%=  o.total_price %> </td>
     <td style="text-align: left; padding-left: 50px;"> <%=   o.tags %> </td>
    
         
        <td>
      <% if o.fulfillment_status == "fulfilled"%>
       <div class="circle_green"></div>
     <% else %>
     
    <div class="circle_red"></div> 
    
    <% end %>
      </td>  

 
  <td>
    
    <% if o.tags.include?  "ufc"%>
       
      <div class="circle_red"></div>
    <% else %>
    <div class="circle_green"></div>
     
<% end %>
  </td> 

<td>
    
    <% if o.financial_status.include?  "unpaid"%>
       
      <div class="circle_red"></div>
    <% elsif o.financial_status.include?  "paid" %>
    <div class="circle_green"></div>
    <%else%>
    <div class="circle_yellow"></div>
     
      <% end %>
  </td>

 

  </tr>

   
  <% end %>

    
</ul>
 
 </tbody>
</table>
</div>
 
<!-- 
  <h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
  -->