<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<style type="text/css">
  
  table, th, td {
    text-align: left;
    border: 1px solid black;
    width: auto;
    margin: auto;
}

table, th{
  text-align: center;
    border-collapse: collapse;
}

</style>
<center> <h1>The Baskets Group </h1></center>

 
<h2>Orders</h2>
<table >
  
  <tbody >
    <tr ><th style="width: 50px; padding: 20px;">Select </th><th style="width: 100px; margin-left:20px;">Order </th><th style=" padding: 20px;">Total </th><th style=" padding: 20px;">Tags</th> <th style="width: 100px; padding: 20px;">Fulfillment</th></tr>

  <% @orders.each do |o| %>
   <tr>   
     <td> <input type="checkbox" name="vehicle" value="https://#{@shop_session.url}/admin/products/#{product.id}"> </td> 
     <td> <%= link_to o.order_number, "https://#{@shop_session.url}/admin/orders/#{o.id}", target: "_top" %> </td>

          
     <td>$ <%=  o.total_price %> </td>
     <td> <%=   o.tags %> </td>
    
         
        <td>
      <% if o.fulfillment_status == "fulfilled"%>
       <%=  o.fulfillment_status %> 
     <% else %>
     
    <%= "Not fulfilled" %> 
    
    <% end %>
      </td>  


      
  </tr

   
  <% end %>

    
</ul>
 
 
 
<!-- 
  <h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
  -->